[package]
name = "specialized-div-rem"
version = "0.0.2"
authors = ["Aaron Kutch <aaronkutch@att.net>"]
publish = true

description = "Specialized long division algorithms that are faster than binary long division (used by Rust) on some CPUs, especially 128 bit division on CPUs with hardwired 64 bit division."
repository = "https://github.com/AaronKutch/specialized-div-rem"
documentation = "https://docs.rs/specialized-div-rem"
readme = "README.md"
keywords = ["division", "int", "integer", "numerics", "math"]
categories = ["algorithms","no-std"]
license = "MIT OR Apache-2.0"

[dev-dependencies] # for benchmarks
rand = {version = "0.5.4", features = ["i128_support"] }